<div class="changelog-page">
    <h1 data-i18n="changelog.title">更新日志</h1>
    
    <div class="changelog-content">
        <div class="version-list">
            <% site.posts.sort('date', -1).each(function(post) { %>
                <div class="version-item">
                    <div class="version-header">
                        <h2><%= post.title %></h2>
                        <span class="version-date"><%= date(post.date, 'YYYY-MM-DD') %></span>
                    </div>
                    <div class="version-changes">
                        <%- post.content %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div> 