<div class="changelog-container">
    <h1 class="page-title">更新日志</h1>
    <div class="changelog-list">
        <% 
        var posts = [];
        site.posts.each(function(post) {
            posts.push(post);
        });
        posts.sort(function(a, b) {
            return b.date - a.date;
        });
        posts.forEach(function(post) { 
        %>
            <article class="changelog-item">
                <div class="changelog-header">
                    <h2 class="changelog-version">
                        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
                    </h2>
                    <time class="changelog-date"><%= date(post.date, 'YYYY-MM-DD') %></time>
                </div>
                <div class="changelog-content">
                    <%- post.content %>
                </div>
            </article>
        <% }); %>
    </div>
</div> 